.featured-title {
  margin-top: 359px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.featured h2 {
  color: var(--color-base-theme-1);
  font-weight: 300;
  font-size: 36px;
  padding-left: 22px;
}

.featured-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-top {
  padding: 80px 33px 171px 0;
}

.media-card {
  border-top: 2px solid var(--color-base-theme-2);
  position: relative;
  margin-bottom: 192px;
}

.media-card h4 {
  position: absolute;
  left: 36px;
  top: 24px;

  color: var(--color-base-theme-1);
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  width: 187px;
}

.media-card p {
  position: absolute;
  left: 36px;
  right: 0;
  top: 67px;

  color: var(--color-base-theme-1);
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 24px;
}
