.nav {
  width: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-list li {
  list-style: none;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #FFF;

}

.nav-item img {
  margin-right: -15px;
}

.nav-item:first-child{
  margin-right: auto;
}

.client-menu {
  display: flex;
  border-right: 1px solid;
}

.nav-item.client-menu {
  margin: 0 39px 0 -39px;
  padding-left: 39px;
}

.menu {
  padding-right: 43px;
}

.amount {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-base-theme-2);
  width: 23px;
  height: 23px;
  border-radius: 100%;
  margin-left: -10px;
}
