:root {
  --color-background: #E5E5E5;
  --color-text-theme: #084154;
  --color-background-theme: #3EC6E0;
  --test: green;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 500 1.6rem Roboto;
  background: var( --test)
}

.wrapper {
  width: 100%;
  padding: 0 15%;
}
