:root {
  --color-background: #E5E5E5;
  --color-base-theme-1: #084154;
  --color-base-theme-2: #3EC6E0;
  --color-base-theme-3: #EBEBEB;
  --test: green;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 500 1.6rem Roboto;
  background: var(--color-background);
}

.wrapper {
  width: 100%;
  padding: 0 18%;
}
