.banner {
  position: relative;
}

.banner img {
  width: 100%;
  min-width: 1000px;
  max-height: 840px;
}

.banner-content {
  position: absolute;
  top: 23%;
  right: 26%;


  display: flex;
  align-items: flex-end;
  flex-direction: column;

  color: #FFF;
  width: 420px;
  height: 327px;
}

.value {
  display: flex;

  font-size: 28px;
  color: var(--color-base-theme-2);
}

.value h3 {
  margin-top: 10px;
}

.banner-content h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 46px;
  color: var(--color-base-theme-3)
}

.banner-content h2 {
  font-size: 70px;
  font-weight: 900;
  color: var(--color-base-theme-2)
}

.banner-content p {
  margin-top: 28px;
  text-align: right;
  font-size: 16px;
  line-height: 155%;
}

.scroll {
  position: absolute;
  top: 212px;
  right: 0px;

  width: 63px;

  display: flex;
  flex-direction: column;
}

.scroll-content {
  position: relative;
}

.scroll-name {
  position: absolute;

  background: var(--color-base-theme-2);
  color: var(--color-base-theme-3);
  writing-mode: vertical-rl;
  font-size: 14px;
  text-transform: uppercase;
  height: 300;
  padding: 30px 26px 156px 29.32px;
}

.scroll-next-prev {
  position: absolute;
  bottom: 0;

  background: var(--color-base-theme-1);
  color: var(--color-base-theme-3);
  height: 84px;
  border-radius: 0px 0px 0px 10px;
}

.scroll-next-prev p {
  font-size: 14px;
}

.scroll-next-prev img {
  z-index: 10;
  width: 10px;
  height: 18px;
}


/* .scroll {
  position: absolute;
  right: 200px;
  top: 212px;
  z-index: 1;

  display: flex;
  flex-direction: column;
}

.scroll-name {
  color: #FFF;
  background-color: var(--color-base-theme-2);
  padding: 30px 23.7px 156px 29.32px;
  writing-mode: vertical-rl;
  font-size: 14px;
  text-transform: uppercase;

  max-height: 300px;
  max-width: 63px;
}

.scroll-next-prev {
  max-width: 10px;
  max-height: 18px;
}

.scroll-next-prev img {
  display: flex;
}

.save {

  border-bottom: 84px solid var(--color-base-theme-1);
  border-radius: 0px 0px 0px 10px;;
} */
